<table>
  <th>
    Project Details
  </th>
  <th>
    Description
  </th>
  <th>
    Category
  </th>
  <th>
    Amount
  </th>
  <th>
    Duration
  </th>
  <th>
    Pick
  </th>
<% @projects.each do |project| %>
  <tr>
    <td>
      <%= project.title%>
    </td>

    <td>
      <%= project.description%>
    </td>

    <td>
      <%= project.category%>
    </td>
    <td>
      <%= number_to_currency(project.amount.to_f.round(2), unit: "\u20b9") %>
    </td>
    <td>
      <%= project.duration%>
    </td>
    <td>
      <%= form_tag url_for("/create_project/pick_project") do %>
        <%=hidden_field_tag "project_id", project.id %>
      <%= submit_tag "Pick", :class => "btn btn-info btn-small" %>
      <% end %>
    </td>
  </tr>

<% end %>
</table>
