<!DOCTYPE html>
<html>
<head>
  <title>TestProgram</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="offset9">
  <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <%= link_to 'Home', "/"%>
      <br>
      <br>
      <br>
      <br>
      <%= link_to 'Create Work', :controller=>"create_project",:action => "index" %>
      <%= link_to 'Find Work', :controller=>"create_project",:action => "find" %>
      <%= link_to 'Work Allocated', :controller=>"create_project",:action => "work_allocated" %>
      <%if can? :index,:qa %>
        <%= link_to 'QA Pending', :controller=>"qa",:action => "index" %>
      <% end %>
<% else %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
  <% end %>
</div>
<%= yield %>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</body>
</html>
